@model HospitalWebApi.Models.Patient

<h2>This patient has deleted</h2>


<div>
    <div>@Model.Id</div>
    <div>@Model.patientName</div>
    <div>@Model.patientSurname</div>
    <div>@Model.patientFrom</div>
</div>